<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- The Salesforce connected app is named: SFDC_Connect_Demo -->
        <add key="Salesforce:UserName" value="xxx" />
        <add key="Salesforce:Password" value="xxx" />
        <add key="Salesforce:SecurityToken" value="xxx" />
        <add key="Salesforce:Domain" value="https://cs2.salesforce.com" />
        <add key="Salesforce:IsSandboxUser" value="true" />
      <add key="Salesforce:CaseProvisioningRT" value="012R00000009UE9IAM"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test.salesforce.com/services/Soap/c/38.0/0DFR00000008Tre"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="force.Soap" name="Soap" />
        </client>
    </system.serviceModel>
</configuration>
